body {
  font-family: 'Roboto', sans-serif;
  max-width: 1440px; }
  body h1 {
    text-align: center;
    color: #5D2E8C; }
  body .contactme {
    height: 150px;
    color: white;
    background-color: #F76025; }
    @media (max-width: 600px) {
      body .contactme {
        height: 250px; } }
    body .contactme .contactInfo {
      padding-top: 35px;
      width: 50%;
      float: left;
      font-size: 1.5em; }
      @media (max-width: 600px) {
        body .contactme .contactInfo {
          width: 100%; } }
      body .contactme .contactInfo .floatbox {
        margin: auto;
        display: block;
        width: 150px; }
        body .contactme .contactInfo .floatbox a {
          line-height: 38px;
          margin-left: 10px;
          float: left;
          color: white;
          text-decoration: none; }
        body .contactme .contactInfo .floatbox span {
          float: left;
          clear: both; }
          body .contactme .contactInfo .floatbox span .material-icons {
            font-size: 34px; }
  body .social {
    width: 50%;
    padding-top: 50px;
    float: left; }
    @media (max-width: 600px) {
      body .social {
        width: 100%; } }
    body .social .icons {
      display: block;
      width: 170px;
      margin: auto; }
      body .social .icons img {
        width: 50px; }
  body .contactHeader {
    max-width: 1440px; }
    body .contactHeader #bg {
      display: block;
      width: 100vw;
      height: 100vh;
      object-fit: cover; }
    body .contactHeader h1, body .contactHeader h2, body .contactHeader h3 {
      color: white; }
    body .contactHeader .name {
      position: absolute;
      text-align: center;
      width: 200px;
      right: 10%;
      top: 75px; }
    body .contactHeader .quoteBox {
      position: absolute;
      width: 40%;
      left: 15px;
      top: 350px; }
      @media (max-width: 700px) {
        body .contactHeader .quoteBox {
          top: 200px; } }
      @media (max-width: 740px) and (orientation: landscape) {
        body .contactHeader .quoteBox {
          top: 50px; } }
  body .projects {
    padding: 40px 0;
    text-align: center;
    width: 70%;
    margin: auto; }
    body .projects .projectFlex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      body .projects .projectFlex a {
        text-decoration: none;
        color: black; }
    body .projects .projectItem {
      position: relative;
      width: 200px;
      height: 200px; }
      body .projects .projectItem .projectHover {
        position: absolute;
        background-color: purple;
        z-index: 100;
        opacity: 0;
        height: 150px;
        width: 200px;
        transition: opacity .75s ease-in-out;
        -moz-transition: opacity .75s ease-in-out;
        -webkit-transition: opacity .75s ease-in-out; }
        body .projects .projectItem .projectHover:hover {
          opacity: .7; }
      body .projects .projectItem .projectImg {
        width: 150px; }
      body .projects .projectItem p {
        color: white;
        margin-top: 35px; }
  body .experience {
    padding: 40px 0;
    padding: 20px 0 40px 0;
    clear: both; }
    body .experience .companybox {
      margin: auto;
      display: block;
      width: 80%;
      display: flex;
      flex-wrap: wrap; }
      @media (max-width: 700px) {
        body .experience .companybox {
          display: block;
          text-align: center; } }
      body .experience .companybox .company {
        width: 30%;
        margin: auto; }
        body .experience .companybox .company h2 {
          font-size: 1.5em; }
        @media (max-width: 700px) {
          body .experience .companybox .company {
            width: 100%; } }
      body .experience .companybox .details {
        width: 70%;
        margin: inherit; }
        body .experience .companybox .details p {
          margin-left: 10px; }
        @media (max-width: 700px) {
          body .experience .companybox .details {
            width: 100%; } }
        body .experience .companybox .details li {
          text-align: left; }
  body .interests {
    background-color: #DCDCDC;
    padding: 20px 0 40px 0; }
    body .interests .myInterests {
      width: 285px;
      margin: auto;
      list-style: none; }
      body .interests .myInterests li {
        height: 40px;
        line-height: 40px;
        vertical-align: middle; }
        body .interests .myInterests li p {
          display: inline-block; }
        body .interests .myInterests li img {
          height: 25px;
          display: inline-block;
          margin: 0 10px 0 0; }
  body .skills {
    padding: 20px 0 40px 0;
    background-color: #DCDCDC; }
    body .skills .skillsflex {
      display: flex; }
      @media (max-width: 600px) {
        body .skills .skillsflex {
          display: block; } }
      body .skills .skillsflex .set1 {
        display: flex;
        width: 50%; }
        @media (max-width: 600px) {
          body .skills .skillsflex .set1 {
            width: 100%; } }
        body .skills .skillsflex .set1 .set1text {
          font-size: 1.2em;
          margin-left: 10%;
          width: 50%; }
          @media (max-width: 600px) {
            body .skills .skillsflex .set1 .set1text {
              margin-left: 5%; } }
        body .skills .skillsflex .set1 .set1img {
          width: 50%; }
          body .skills .skillsflex .set1 .set1img img {
            margin: 0 5px; }
      body .skills .skillsflex .set2 {
        display: flex;
        width: 50%; }
        @media (max-width: 600px) {
          body .skills .skillsflex .set2 {
            width: 100%; } }
        body .skills .skillsflex .set2 .set2text {
          font-size: 1.2em;
          margin-left: 10%;
          width: 50%; }
          @media (max-width: 600px) {
            body .skills .skillsflex .set2 .set2text {
              margin-left: 5%; } }
        body .skills .skillsflex .set2 .set2img {
          width: 50%; }
          body .skills .skillsflex .set2 .set2img img {
            margin: 0 5px; }
      body .skills .skillsflex ul li {
        margin: 5px 0;
        list-style: none; }
  body .breaker {
    clear: both;
    margin: 20px 0;
    height: 25px;
    background-image: url(../images/d20.png), url(../images/d20.png), url(../images/d20.png);
    background-size: 25px 25px, 25px 25px, 25px 25px;
    background-repeat: no-repeat,  no-repeat, no-repeat;
    background-position: 50%,  70%, 30%; }

/*# sourceMappingURL=styles.css.map */
