body{
	font-family: 'Roboto', sans-serif;
	max-width: 1440px;
	h1{
	text-align: center;
	color: #5D2E8C;
	}
	.contactme{
		height: 150px;
		color: white;
		background-color: #F76025;
		@media (max-width: 600px){
			height: 250px;
		}
		
		.contactInfo{
			padding-top: 35px;
			width: 50%;
			float: left;
			font-size: 1.5em;
			@media (max-width: 600px){
				width: 100%;
			}
			.floatbox{
				margin: auto;
				display: block;
				width: 150px;
				a{
					line-height: 38px;					
					margin-left: 10px;
					float: left;
					color: white;
					text-decoration: none;
				}
				span{
					float: left;
					clear: both;
					.material-icons{
						font-size: 34px;
					}

				}
			}

		}
	}
	.social{
		width: 50%;
		padding-top: 50px;		
		float: left;
		@media (max-width: 600px){
			width: 100%;
		}
		.icons{
			display: block;
			width: 170px;
			margin: auto;
			img{
				width:50px;
			}
		}
		
	}
	.contactHeader {
		background-image: url("../images/imagination.jpg");
		background-position: center center;
		background-repeat: no-repeat;
	  	-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
		background-size: cover;
		height: 810px;
		max-width: 1440px;
		.name {
			position: absolute;
			left: 15px;
			top: 250px;
			h1, h2, h3 {
				color: white;
			}
		}
	}
	.projects {
		text-align: center;
		width: 60%;
		margin: auto;
		.projectFlex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		}
		.projectItem {
			position: relative;
			.projectHover{
				position: absolute;
				background-color: purple;
				z-index: 100;
				opacity: 0;
				height: 150px;
				width: 200px;
			    transition: opacity .75s ease-in-out;
			    -moz-transition: opacity .75s ease-in-out;
			    -webkit-transition: opacity .75s ease-in-out;
				&:hover{
					opacity: .7;
				}

			}
			width: 200px;
			height: 200px;
			.projectImg {
				width: 150px;
			}
			p{
				color: white;
				margin-top: 35px;
			}
		}
	}
	.experience{
		.companybox{
			margin: auto;
			display: block;
			width: 80%;
			.company{
				width: 30%;
				display: inline-block;
				h2{
					font-size: 1.5em;
				}
			}
			.details{
				width: 70%;
				display: inline-block
			}
		}
	}
	.interests{
		margin: 40px 0;
		.myInterests{
			width: 285px;
			margin: auto;
			list-style: none;
			li{
				height: 40px;
				line-height: 40px;
				vertical-align: middle;

				p{
					display: inline-block;
				}
				img{
					height: 25px;
					display: inline-block;
					margin: 0 10px 0 0;
				}
			}
		}
	}
	.breaker{
		margin: 20px 0;
		height: 25px;
		background-image: url(../images/d20.png),
						  url(../images/d20.png),
						  url(../images/d20.png);
		background-size: 25px 25px,
						 25px 25px,
						 25px 25px;
		background-repeat: no-repeat, 
		                   no-repeat,
		                   no-repeat;
       	background-position: 50%, 
                            70%,
                            30%;
}
}