#namesList {
	width: 310px;
}
.selector {
	width: 60px;
	font-size: 10px;
}
.container {
	max-width: 304px; 
	max-height: 210px;
}
.adminBox {
	margin-left: 10px; 
	height: 100px;
	width: 200px;
}
span {
	font-size: 12px;
}
@media (orientation: landscape) {
	#namesList {
		width: 460px;
	}
	.selector {
		width: 90px;
		font-size: 10px;
	}
	.container {
		max-width: 456px; 
		max-height: 210px;
	}
	#cat-img {
		max-width: 65%;
	}
	.adminBox {
		margin: auto; 
		height: 50px;
		width: 450px;
	}
	input {
		width: 75px;
	}
	.input {
		display: flex;
	}
	.buttons {
		float: right;
	}
/*	#namesList, .container {
		float: right;
	}*/

}